<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="false">
    <listeners>
        <listener class-name="com.rise.automation.listeners.TestListener"/>
        <listener class-name="com.rise.automation.listeners.retry_mechanism.RetryTransform"></listener>
    </listeners>
    <test verbose="3" preserve-order="true" name="Web_App_Automation">
        <classes>
            <class name="com.rise.automation.LoginValidationWithAddToCartTest"/>
        </classes>
    </test>
</suite>